.learn-more {
  display: block;
  text-decoration: none;
  width: 100%;
  margin: 27px 0 20px;
  padding: 11px 0;
  text-align: center;
  color: #E47BBD;
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid white;
  box-sizing: border-box;
  cursor: pointer;
  border-radius: 100px;
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
}

.learn-more_rezo {
  width: auto;
  margin: 33px 112px -16px 88px;
  background-color: white;
  color: #E47BBD;
  border: 1px solid #E47BBD;
}

@media screen and (max-width: 320px) {
  .learn-more {
    font-size: 12px;
    line-height: 18px;
    padding: 5px 0 9px;
    width: 146px;
    margin: 0;
    flex-shrink: 0;
  }

  .learn-more_rezo {
    visibility: visible;
    width: 280px;
    padding: 11px 0;
    position: absolute;
    bottom: -159px;
    left: 20px;
    right: 20px;
    font-size: 16px;
    line-height: 18px;
    color: white;
    background-color: #E47BBD;
  }
}
