.main {
  width: 952px;
  margin: 124px auto 0;
  color: #4F4F4F;
}

/* ================================================== */

.main__left-column {
  width: 304px;
  position: fixed;
  top: 124px;
  left: calc(50% - 476px);
}

/* ================================================== */

.main__right-column {
  width: 628px;
  margin: 0 0 0 324px;
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  background-color: white;
}
